/*Home page*/
.main-container {
    color: #ff5e00;
    display: flex;
    flex-direction: column;
}

.main--box {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    font-size: 2em;
    justify-content: space-around;
    height: 100dvh;
}

.contact-box {
    height: 20dvh;
    margin-top: 100px;
    width: 100dvw;
}

.welcome--box {
    display: inline-block;
}

.text {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s steps(61),
        cursor .4s step-end infinite alternate;

}

/*cursor blink*/
@keyframes cursor {
    50% {
        border-color: transparent
    }
}

/*typing text animation*/
@keyframes typing {
    from {
        width: 0
    }
}

/*Button styling*/

button {
    color: #ff5e00;
    border: 1px solid #ff5e00;
    background-color: transparent;
    letter-spacing: 3px;
    padding: 12px;
    font-size: 20px;
    margin: 100px;
    transition: 400ms linear;
}

button:hover {
    color: #272727;
    background-color: #ff5e00;
    cursor: pointer;

}


/*Works page*/

.works-container {
    margin-top: 50px;
    background-color: #383838
}



/*Tabs*/


.uxui-container {
    margin: 0;
    padding: 0;
    height: 100%;
    margin: auto;
    width: 80dvh;
    box-sizing: border-box;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

.design3d-container {
    margin: 0;
    padding: 0;
    background-color: #383838;
    height: 100%;
    margin: auto;
    width: 80dvh;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

.sd-container {
    margin: 0;
    padding: 0;
    width: 80dvh;
    margin: auto;
    height: 100dvh;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

.photo-container img {
    overflow: hidden;
    padding: 20px;
    transition: 400ms linear;

}

.naming-paragraph {
    color: #fff;
    margin: 20px;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding: 20px;


}

cite {
    color: rgb(255, 255, 255)
}

/* UX/UI Design Tab*/
.prototype-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    letter-spacing: 2px;

}

.prototypes {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255,255,255, 0.1);
    margin: 20px;
    box-sizing: border-box;
    padding: 40px;
}

.prototype-description {
    width: 400px;
}



/*About page*/

/*Main Card*/

.photo-container img:hover {
    transform: scale(1.05);
    transform-origin: center center;
    z-index: 1000;
}

.profile-image-container img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
    object-fit: cover;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    margin: 10px;
}

.about-main-container {
    display: flex;
    color: white;
    background-color: #383838;
    padding: 70px;
    justify-content: space-around;
    font-size: 26px;
}

.general-info-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-around;
    text-align: justify;
    line-height: 1.5;
    margin: 10px;
}

.general-info-container button {
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;

}


/*Skills Card*/

.skills-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.place-wrapper {
    display: flex;
    align-items: center;
}

.skills {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    height: 500px;
    box-sizing: border-box;

}

.skill-set {
    text-align: justify;
    margin-left: max(40px);
    padding-top: 40px;
    height: 100%;
}

.section {
    width: 100dvw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.section:hover {
    background-color: #383838;
    transition: 0.7s ease-out;

}


.skill-name {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skill-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.skill-wrapper p {
    margin-right: auto;
    padding-left: 30px;

}

.wrapper-container {
    margin: 5px 180px 5px 5px;
}


/*Contact Form */
.contact-container {
    display: flex;
    justify-content: center;
    height: 100dvh;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
}

.form,
.social-media {
    color: white;
    padding-top: 50px;
    max-height: 550px;
    box-sizing: border-box;

}

.social-media {
    width: 100px;
    padding-left: 50px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(220, 220, 220);
    box-sizing: border-box;
}

input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(220, 220, 220);
    box-sizing: border-box;
}

textarea:focus {
    border: 2px solid rgba(0, 206, 158, 1)
}

label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

input[type='submit'] {
    margin-top: 2rem;
    color: #ff5e00;
    border: 1px solid #ff5e00;
    background-color: transparent;
    letter-spacing: 3px;
    font-size: 20px;
    transition: 400ms linear;
}

input[type='submit']:hover {
    color: #272727;
    background-color: #ff5e00;
    cursor: pointer;
}

.icon-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

}