/*Home page*/

.main-container {
    color: #ff5e00;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main--box {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
    font-size: 2em;
    justify-content: space-around;
    height: 100dvh;
}

.contact-box {
    height: 20dvh;
    margin-top: 100px;
    width: 100dvw;
}

.welcome--box {
    display: inline-block;
}

.text {
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 4s steps(61),
        cursor .4s step-end infinite alternate;
}

/*cursor blink*/
@keyframes cursor {
    50% {
        border-color: transparent
    }
}

/*typing text animation*/
@keyframes typing {
    from {
        width: 0
    }
}

/*Button styling*/

button {
    color: #ff5e00;
    border: 1px solid #ff5e00;
    background-color: transparent;
    letter-spacing: 3px;
    padding: 12px;
    font-size: 20px;
    margin: 100px;
    transition: 400ms linear;
}

button:hover {
    color: #272727;
    background-color: #ff5e00;
    cursor: pointer;

}


/* Contact page NOT USED*/
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    all: unset;
    cursor: pointer;
}

.paragraph {
    margin-bottom: 25px;
    text-decoration: underline;
}

.box-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: first baseline;
}

.box {
    width: 500px;
    opacity: o.5;
    text-align: left;
    color: #ff5e00;
    text-align: left;
    padding: 50px;
    font-size: 1.3em;
    max-height: 150px;
    margin: 20vh auto;
    transition: 400ms linear;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 3px;

    --b: 3px;
    /* thickness of the border */
/* --c: #ff5e00;
    /* color of the border */
/* --w: 12px;
    /* width of border */
/* border: var(--b) solid #0000; */
/*space for the border */
/* --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
} */

/* .box:hover {
    transform: scale(1.1);
} */

/*Works page*/

.works-container {
    height: 100vh;
    margin-top: 50px;
    background-color: #383838
}

.MuiTabs-root {
    width: 100dvw;
}

/*Tabs*/


.uxui-container {
    margin: 0;
    padding: 0;
    background-color: #faf6e8;
    height: 100dvh;
    margin: auto;
    width: 80dvh;
}

.design3d-container {
    margin: 0;
    padding: 0;
    background-color: #383838;
    height: 100%;
    margin: auto;
    width: 80dvh;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

.sd-container {
    margin: 0;
    padding: 0;
    background-color: #fafff8;
    width: 80dvh;
    margin: auto;
    height: 100dvh;
}

.photo-container img {
    overflow: hidden;
    padding: 20px;
    transition: 400ms linear;

}

.design3d-paragraph {
    color: #fff;
    margin: 20px;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    padding: 20px;


}

cite {
    color: rgb(255, 255, 255)
}

/*About page*/

/*Main Card*/

.photo-container img:hover {
    transform: scale(1.05);
    transform-origin: center center;
    z-index: 1000;
}

.profile-image-container img {
    border-radius: 50%;
    height: 450px;
    width: 450px;
    object-fit: cover;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, .2);
    margin: 10px;
}

.about-main-container {
    display: flex;
    color: white;
    background-color: #383838;
    padding: 70px;
    justify-content: space-around;
    font-size: 26px;
    max-height: 100%;
}

.general-info-container {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    justify-content: space-around;
    text-align: justify;
    line-height: 1.5;
    margin: 10px;
}

.general-info-container button {
    width: 300px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;

}


/*Skills Card*/

.skills-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: max(1000px);

}

.place-wrapper {
    display: flex;
    align-items: center;
}

.skills {
    background-color: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    padding: 20px;

}

.skill-set {
    text-align: justify;
    margin-left: max(40px);
    padding-top: 40px;
}

.section {
    width: 100%;
    border-radius: 20px;
}

.section:hover {
    background-color: #383838;
    transition: 0.7s ease-out;

}


.skill-name {
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skill-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 2px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.skill-wrapper p {
    margin-right: auto;
    padding-left: 30px;

}

.wrapper-container {
    margin: 5px 180px 5px 5px;
}

/* Cards NOT USED

.card-container {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 20px;
    width: 60%;
}

.card-wrapper {
    margin: 20px;
} */


/*Contact Form */

.form-container {
    max-width: 50%;
    min-width: 30%;
    margin: 0 auto;
    color: white;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgb(220, 220, 220);


}

input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(220, 220, 220);
}

textarea:focus {
    border: 2px solid rgba(0, 206, 158, 1)
}

label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

input[type='submit'] {
    margin-top: 2rem;
    color: #ff5e00;
    border: 1px solid #ff5e00;
    background-color: transparent;
    letter-spacing: 3px;
    font-size: 20px;
    transition: 400ms linear;
}

input[type='submit']:hover {
    color: #272727;
    background-color: #ff5e00;
    cursor: pointer;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.social-media {
    max-width: 50%;
    min-width: 20%;
    
}