.footer-container {
    max-height: 40px;
    bottom: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #383838;
    width: 100%;
    display: flex;
    justify-content: center;
}