* {
    margin: 0;
    padding: 0;
}
.navbar-container {
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #383838;
    z-index: 1;
}


.navMenu {
    position: absolute;
    top: 0%;
    left: 50%;
    margin: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.navMenu a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding: 20px;
    
    
}

.navMenu a.active {
    color: #ff5e00;
}

.navMenu a:hover {
    color: #ff5e00;
}
