.wrapper-container {
    width: 120px;
    background-color: white;
    padding: 1px;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    height: 5px;
}

.progress-bar-fill {
    display: block;
    height: 5px;
    background-color: #0faf00;
    border-radius: 6px;
}